/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Baskervville', sans-serif;
  width: 400px;
  height: 600px;
  border: 2px solid gray;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 5px;
  padding-left: 3%;
}

fieldset {
  border: none;
}

.answers {
  font-size: 24px;
}

.correct, .incorrect {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.correct{
  color: green;
}

.incorrect{
  color: red;
}

/*
I wanted to bottom align the score box but I cant for the life of me figure it out
*/
.score-box {

}

/*
I want to horizontally center this button out
*/
.js-next-submit-btn {

}
