/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Baskervville', sans-serif;
  width: 400px;
  height: 600px;
  border: 2px solid gray;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-image: url(kim.jpg);
  background-size: 400px;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  color: deeppink;
}

fieldset {
  border: none;
}

.answers {
  font-size: 24px;
  padding-left: 10%;
}

.answerChoice:hover {
  color: #8080ff;
}

input[type=radio]:focus + label{
  color: navy;
}

.correct, .incorrect {
  padding-left: 20px;
  padding-top: 5px;
}

.correct{
  color: green;
}

.incorrect{
  color: red;
}

.btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: pink;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.btn:focus, .btn:hover {
  background-color: deeppink;
}

.btn:active {
  background-color: pink;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.score-box {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  font-size: 24px;
  color: navy;
  bottom: 10px;
}

.score {
  text-align: center;
}

