/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

/* restart button color: #1ce652 
  restart button hover color: #18c245

*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Baskervville', sans-serif;
  width: 400px;
  height: 600px;
  border: 2px solid gray;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center; 
}

h1 {
  text-align: center;
}

.answers {
  text-align: left; 
}
.option-container {
}
.feedback {
}
.answerChoice {
}

fieldset {
  border: none;
}

.answers {
  font-size: 24px;
  padding-left: 10%;
}

.correct, .incorrect {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.correct{
  color: green;
}

.incorrect{
  color: red;
}

.btn {
  background-color: gold; 
  border: 1px solid gold; 
  padding: 5%;
  text-transform: uppercase; 
  margin: 5% auto; 
  border-radius: 10%; 
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(255, 217, 0, 0.61);
}

.start-btn {
  background-color: #1ce652;
  border: 1px solid #1ce652;
  -webkit-box-shadow: 6px 9px 14px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 9px 14px -5px rgba(0,0,0,0.75);
  box-shadow: 6px 9px 14px -5px rgba(0,0,0,0.75);
}

.start-btn:hover {
    background-color: #18c245; 
    transform: translateX(5px) translateY(5px);
}


/*****
* STARTING PAGE
*****/
.starting-header {
  display: flex; 
  flex-direction: column; 
}

header h1 {
  font-family: 'Gupter', serif;
  font-weight: 700; 
}


